# 自動統整多家銀行外幣利率 1

合作金庫：https://www.tcb-bank.com.tw/finance_info/Pages/foreign_deposit_loans_rate.aspx<br>
玉山銀行：https://www.esunbank.com.tw/bank/personal/deposit/rate/foreign/deposit-rate<br>
台灣銀行：https://rate.bot.com.tw/ir?Lang=zh-TW<br>

In [1]:
import requests
import pandas as pd

url = 'https://www.tcb-bank.com.tw/finance_info/Pages/foreign_deposit_loans_rate.aspx'

headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36',
}

response = requests.get(url, headers=headers)

In [10]:
df = pd.read_html(response.text)[6]
df.dropna(inplace=True)
df.columns = ['幣別', '活期', '一週', '一個月', '三個月', '六個月', '九個月', '一年']
df['銀行'] = '合作金庫'
df['幣別'] = df['幣別'].str.extract('([A-Z]+)')
df = df.set_index(['銀行', '幣別'])
df = df.apply(lambda s: s.str.replace('%', ''))
df = df.apply(pd.to_numeric, errors='coerce')

df

             活期     一週    一個月    三個月    六個月    九個月     一年
銀行   幣別
合作金庫 USD  0.100  0.150  0.350  0.450  0.550  0.600  0.700
     HKD  0.050  0.100  0.200  0.300  0.400  0.450  0.550
     GBP  0.050  0.080  0.100  0.150  0.150  0.150  0.200
     AUD  0.050  0.400  0.450  0.500  0.600  0.600  0.650
     SGD  0.010  0.020  0.050  0.050  0.150  0.200  0.200
     CHF  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     CAD  0.100  0.250  0.350  0.400  0.450  0.450  0.500
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     SEK  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     NZD  0.050  0.450  0.500  0.550  0.650  0.650  0.700
     THB  0.200  0.250  0.400  0.500  0.550  0.600  0.700
     ZAR  0.900  2.400  3.500  3.500  3.200  3.200  3.200
     CNY  0.200  0.350  0.900  1.000  1.400  1.400  1.400

In [11]:
def tcb_bank():
    
    url = 'https://www.tcb-bank.com.tw/finance_info/Pages/foreign_deposit_loans_rate.aspx'
    
    response = requests.get(url=url, headers=headers)
    
    df = pd.read_html(response.text)[6]

    df.dropna(inplace=True)

    df.columns = ['幣別', '活期', '一週', '一個月', '三個月', '六個月', '九個月', '一年']
    
    df['銀行'] = '合作金庫'
    df['幣別'] = df['幣別'].str.extract('([A-Z]+)')
    df = df.set_index(['銀行', '幣別'])
    
    df = df.apply(lambda s: s.str.replace('%', ''))
    df = df.apply(pd.to_numeric, errors='coerce')
    
    return df

合作金庫 = tcb_bank()
合作金庫

             活期     一週    一個月    三個月    六個月    九個月     一年
銀行   幣別
合作金庫 USD  0.100  0.150  0.350  0.450  0.550  0.600  0.700
     HKD  0.050  0.100  0.200  0.300  0.400  0.450  0.550
     GBP  0.050  0.080  0.100  0.150  0.150  0.150  0.200
     AUD  0.050  0.400  0.450  0.500  0.600  0.600  0.650
     SGD  0.010  0.020  0.050  0.050  0.150  0.200  0.200
     CHF  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     CAD  0.100  0.250  0.350  0.400  0.450  0.450  0.500
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     SEK  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     NZD  0.050  0.450  0.500  0.550  0.650  0.650  0.700
     THB  0.200  0.250  0.400  0.500  0.550  0.600  0.700
     ZAR  0.900  2.400  3.500  3.500  3.200  3.200  3.200
     CNY  0.200  0.350  0.900  1.000  1.400  1.400  1.400

In [12]:
import requests
import pandas as pd

url = 'https://www.esunbank.com.tw/bank/personal/deposit/rate/foreign/deposit-rate'

headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36',
}

response = requests.get(url, headers=headers)

In [19]:
df = pd.read_html(response.text)[0]
df = df.drop([0, 1])
df.columns = ['幣別', '活期', '一週', '二週', '三週', '一個月', '三個月', '六個月', '九個月', '一年']
df['幣別'] = df['幣別'].str.extract('([A-Z]+)')  
df['銀行'] = '玉山銀行'
df = df.set_index(['銀行', '幣別'])
df = df.apply(pd.to_numeric, errors='coerce')

df

             活期     一週     二週     三週    一個月    三個月    六個月    九個月     一年
銀行   幣別
玉山銀行 USD  0.050  0.150  0.150  0.150  0.300  0.400  0.500  0.550  0.600
     CNY  0.200  0.450  0.450  0.450  1.100  1.200  1.500  1.500  1.500
     AUD  0.020  0.100  0.200  0.300  0.400  0.500  0.600  0.650  0.700
     ZAR  0.500  2.000  2.000  2.000  3.500  3.500  3.300  3.300  3.300
     NZD  0.050  0.100  0.100  0.100  0.200  0.200  0.300  0.300  0.300
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     HKD  0.010  0.020  0.020  0.020  0.050  0.100  0.150  0.200  0.300
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     MXN  2.200  3.400  3.600  3.900  4.200  4.300  4.600  4.900  5.200
     CAD  0.050    NaN    NaN    NaN  0.150  0.250  0.350  0.450  0.500
     CHF  0.000    NaN    NaN    NaN  0.000  0.000  0.000  0.000  0.000
     GBP  0.010    NaN    NaN    NaN  0.050  0.050  0.050  0.050  0.050
     SEK  0.000    NaN    NaN    NaN  0.000  0.000  0.000  0.000  0.000
     SGD  0.050    NaN    NaN    NaN  0.150  0.200  0.250  0.300  0.300
     THB  0.200    NaN    NaN    NaN  0.500  0.600  0.700  0.800  0.900

In [20]:
def esun_bank():
    
    url = 'https://www.esunbank.com.tw/bank/personal/deposit/rate/foreign/deposit-rate'
    
    response = requests.get(url=url, headers=headers)
    
    df = pd.read_html(response.text)[0]

    df = df.drop([0, 1])
    
    df.columns = ['幣別', '活期', '一週', '二週', '三週', '一個月', '三個月', '六個月', '九個月', '一年']
    
    df['幣別'] = df['幣別'].str.extract('([A-Z]+)')  
    df['銀行'] = '玉山銀行'
    
    df = df.set_index(['銀行', '幣別'])
    
    df = df.apply(pd.to_numeric, errors='coerce')
    
    return df

玉山銀行 = esun_bank()
玉山銀行

             活期     一週     二週     三週    一個月    三個月    六個月    九個月     一年
銀行   幣別
玉山銀行 USD  0.050  0.150  0.150  0.150  0.300  0.400  0.500  0.550  0.600
     CNY  0.200  0.450  0.450  0.450  1.100  1.200  1.500  1.500  1.500
     AUD  0.020  0.100  0.200  0.300  0.400  0.500  0.600  0.650  0.700
     ZAR  0.500  2.000  2.000  2.000  3.500  3.500  3.300  3.300  3.300
     NZD  0.050  0.100  0.100  0.100  0.200  0.200  0.300  0.300  0.300
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     HKD  0.010  0.020  0.020  0.020  0.050  0.100  0.150  0.200  0.300
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     MXN  2.200  3.400  3.600  3.900  4.200  4.300  4.600  4.900  5.200
     CAD  0.050    NaN    NaN    NaN  0.150  0.250  0.350  0.450  0.500
     CHF  0.000    NaN    NaN    NaN  0.000  0.000  0.000  0.000  0.000
     GBP  0.010    NaN    NaN    NaN  0.050  0.050  0.050  0.050  0.050
     SEK  0.000    NaN    NaN    NaN  0.000  0.000  0.000  0.000  0.000
     SGD  0.050    NaN    NaN    NaN  0.150  0.200  0.250  0.300  0.300
     THB  0.200    NaN    NaN    NaN  0.500  0.600  0.700  0.800  0.900

In [21]:
import requests
import pandas as pd

url = 'https://rate.bot.com.tw/ir?Lang=zh-TW'

headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36',
}

response = requests.get(url, headers=headers)

In [30]:
df = pd.read_html(response.text)[0]
df = df.drop(df.columns[[-1, -2]], axis=1)
df.columns = ['幣別', '活期', '一週', '二週', '三週', '一個月', '三個月', '六個月', '九個月', '一年']
df = df.drop(1)
df['幣別'] = df['幣別'].str.extract('([A-Z]+)')   
df['銀行'] = '臺灣銀行'
df = df.set_index(['銀行', '幣別'])
df = df.apply(pd.to_numeric, errors='coerce')

df

             活期     一週     二週     三週    一個月    三個月    六個月    九個月     一年
銀行   幣別
臺灣銀行 USD  0.100  0.200  0.200  0.200  0.350  0.450  0.550  0.600  0.700
     HKD  0.050  0.100  0.100  0.100  0.200  0.300  0.400  0.450  0.550
     GBP  0.050  0.080  0.080  0.080  0.100  0.150  0.150  0.150  0.200
     AUD  0.050  0.250  0.250  0.250  0.450  0.500  0.600  0.600  0.650
     CAD  0.100  0.150  0.150  0.150  0.350  0.400  0.450  0.450  0.500
     SGD  0.050  0.100  0.100  0.100  0.100  0.150  0.200  0.300  0.300
     CHF  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.002
     ZAR  0.900  2.000  2.000  2.000  3.500  3.500  3.200  3.200  3.200
     SEK  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     NZD  0.050  0.300  0.300  0.300  0.500  0.550  0.650  0.650  0.700
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.002
     CNY  0.300  0.550  0.550  0.550  1.150  1.250  1.500  1.500  1.500

In [33]:
def get_taiwan_bank():
    
    url = 'https://rate.bot.com.tw/ir?Lang=zh-TW'

    response = requests.get(url=url, headers=headers)

    df = pd.read_html(response.text)[0]
    
    df = df.drop(df.columns[[-1, -2]], axis=1)
    
    df.columns = ['幣別', '活期', '一週', '二週', '三週', '一個月', '三個月', '六個月', '九個月', '一年']
    
    df = df.drop(1)
    
    df['幣別'] = df['幣別'].str.extract('([A-Z]+)')   
    df['銀行'] = '臺灣銀行'
    df = df.set_index(['銀行', '幣別'])

    df = df.apply(pd.to_numeric, errors='coerce')
    
    return df

台灣銀行 = get_taiwan_bank()
台灣銀行

             活期     一週     二週     三週    一個月    三個月    六個月    九個月     一年
銀行   幣別
臺灣銀行 USD  0.100  0.200  0.200  0.200  0.350  0.450  0.550  0.600  0.700
     HKD  0.050  0.100  0.100  0.100  0.200  0.300  0.400  0.450  0.550
     GBP  0.050  0.080  0.080  0.080  0.100  0.150  0.150  0.150  0.200
     AUD  0.050  0.250  0.250  0.250  0.450  0.500  0.600  0.600  0.650
     CAD  0.100  0.150  0.150  0.150  0.350  0.400  0.450  0.450  0.500
     SGD  0.050  0.100  0.100  0.100  0.100  0.150  0.200  0.300  0.300
     CHF  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     JPY  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.002
     ZAR  0.900  2.000  2.000  2.000  3.500  3.500  3.200  3.200  3.200
     SEK  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001
     NZD  0.050  0.300  0.300  0.300  0.500  0.550  0.650  0.650  0.700
     EUR  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.001  0.002
     CNY  0.300  0.550  0.550  0.550  1.150  1.250  1.500  1.500  1.500